* {
  font-family: sans-serif;
}

h3 {
  margin-bottom: 3%;
  font-size: 1.5em;
  text-align: center;
}

.photo {
    font-size: 48px;
    width:185px;
    text-align: center;
    position: relative;
    top:-230px;
    right: -80px;
}